
.header {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    width:1500px;
    height:240px;
    border:2px solid #7ab02a;
    border-radius: 20px 20px;
    background-image: url(images/bar.jpg);

    }

.menu {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    width:1500px;
    height:35px;
    border-radius: 20px 20px;
    list-style-type: none;
    }
    #navbar {
      margin: 0;
      padding: 0;
      list-style-type: none;
      border: 4px solid #7ab02a;
      border-radius: 20px 20px;
      width: 1496px;
      height:30px;
      text-align: center;
    }
    #navbar li { display: inline; }
    #navbar a {
      color: white;
      padding: 5px 10px;
      text-decoration: none;
      font-weight: bold;
      display: inline-block;
      width: 95px;
    }
    #navbar a:hover {
      border-radius: 20px 20px;
      background-color: blue;
    }

.pages {
    margin-left:auto;
    margin-right:auto;
    width:1500px;
    }
.content {
    margin-right:10px;
    width:1198px;
    height:1000px;
    border:2px solid #7ab02a;
    border-radius: 30px 30px;
    float:left;
    }
.sidebar {
    width:283px;
    height:500px;
    border:2px solid #7ab02a;
    border-radius: 20px 20px;
    background:#cccccc;
    float:left;
    text-align: center;
    }
.foot {
    clear:both;
    }
.footer {
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    width:1500px;
    height:50px;
    border:2px solid #7ab02a;
    border-radius: 20px 20px;
    text-align: center;
    color: white;
    size:30px;
    }
    .cell{
      margin-top:5px;
      margin-left:5px;
      margin-right:5px;
      width:260px;
      height:210px;
      border:1px solid #7ab02a;
      border-radius: 20px 20px;
      background:green;
      text-align: center;
      color: white;
      size:30px;}

      .cellforcell {
          margin-top:5px;
          margin-left:5px;
          margin-right:5px;
          width:275px;
          height:270px;
          text-align: center;
          color: white;
          size:30px;
          }
      .cellforcell2 {
          margin-top:-275px;
          margin-left:305px;
          margin-right:5px;
          width:1100px;
          height:270px;
          text-align: center;
          color: white;
          size:30px;
          }
      .cellforcell3 {
          margin-top:-275px;
          margin-left:605px;
          margin-right:5px;
          width:1100px;
          height:270px;
          text-align: center;
          color: white;
          size:30px;
          }
      .cellforcell4 {
         margin-top:-275px;
         margin-left:905px;
         margin-right:5px;
         width:1100px;
         height:270px;
         text-align: center;
         color: white;
         }
         p {
         margin-left:15px;
         text-indent: 1.5px;
         }




         #main {
         	position:relative;
         	padding: 2px;
         	width: 1490px;
         	height:230px;
         	background-color: #60cc52;
         	border: 3px solid #60cc52;
         	border-radius:19px;
          align="right"
         }
         #scr {
         	margin:50px auto;
         	width: 1400px;
         	height: 205px;
         	margin-top:10px;
         	background-color: white;
         	background-size:cover;
         	border: 2px solid black;
         	border-radius:10px;
          align="right"
         }
         button {
         	position: absolute;
         	top: 100px;
         	width: 30px;
         	height: 50px;
         	font: 12pt arial,tahoma,sans-serif;
         	text-align: center;
         }
         .left {
         	left:5px;
         }
         .right {
         	right:5px;
         }
